<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/Auth/login.css' />
    </head>
    <body>
        <form method="POST" action="/auth/login">
            <img src="/images/logo.jpg" class="img-thumbnail" width="200" height="40">
            <% if (message) { %>
                <div class="alert alert-danger" role="alert">
                    <%=message%> 
                  </div>
            <% }%>

            <label>
              <p class="label-txt">ENTER YOUR USERNAME</p>
              <input type="text" class="input" name="username">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            
            <label>
              <p class="label-txt">ENTER YOUR PASSWORD</p>
              <input type="password" name="password" class="input">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            <button class="btn btn-outline-info btn-lg" type="submit">Login</button>
            <br>
            <br>
             <p class="lead">Not Registered?<a href="/register">Register Here</a></p>  
        </form>
          
    </body>
</html>